* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Orbitron", sans-serif;
}
:root {
  --bg-white: #ffffff;
  --bg-black: #000000;
  --bg-blue: #58b8ff;
  --bg-yellow: #fdd04a;
}
.container {
  /* 1440 - 2 * 60 + 2 * 20 = 1260 */
  max-width: 1260px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}
